{% extends 'index.html' %}

{% block content %}

<h1>Lista de Viajes</h1>

{% if viajes %}
    <ul>
        {% for viaje in viajes %}
            <li>
                <strong>Destino:</strong> {{ viaje.destino }}<br>
                <strong>Precio:</strong> {{ viaje.precio }} €<br>
                <a href="{% url 'detalle_viaje' viaje.id %}">Ver detalles</a>
            </li>
        {% endfor %}
    </ul>
{% else %}
    <p>No hay viajes disponibles.</p>
{% endif %}

<a href="{% url 'Viajes' %}">Volver a la sección Viajes</a><br>

{% endblock %}
