{% extends 'index.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/viajes/lista_viajes.css' %}">
{% endblock %}

{% block content %}
<div id="divViajes">
    <div class="headerViajes">
        <h1>NUESTROS VIAJES</h1>
        <p>Descubre los destinos más increíbles del mundo</p>
    </div>

    <div class="contenedorViajes">
        <div class="gridViajes">
            {% for viaje in viajes %}
            <div class="tarjetaViaje">
                <div class="imagenViaje">
                        <img src="{{ viaje.fotoViaje }}" alt="{{ viaje.destino }}">
                </div>
                
                <div class="contenidoViaje">
                    <h3 class="destinoViaje">{{ viaje.destino }}</h3>
                    
                    <div class="infoViaje">
                        <div class="fechaViaje">
                            <p>{{ viaje.fecha_inicio|date:"d/m/Y" }} - {{ viaje.fecha_fin|date:"d/m/Y" }}</p>
                        </div>
                        
                        <div class="precioViaje">
                            <p class="cantidad">{{ viaje.precio }}€</p>
                        </div>
                    </div>
                    
                    <a href="{% url 'detalle_viaje' viaje.pk %}#divDetalleViaje" class="botonReservar"> MÁS INFORMACIÓN </a>

                </div>
            </div>
            {% empty %}
            <div class="sinViajes">
                <p>No hay viajes disponibles en este momento</p>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}