<h1>Bienvenido a Proyecto Web </h1>
    <p>Selecciona una sección para gestionar la información:</p>

    <hr>

    <h2>Secciones principales</h2>
    <ul>
        <li><a href="{% url 'Usuarios' %}">Usuarios</a> — Ver, agregar o consultar usuarios registrados.</li>
        <li><a href="{% url 'Viajes' %}">Viajes</a> — Explora todos los viajes disponibles.</li>
        <li><a href="{% url 'Actividades' %}">Actividades</a> — Consulta las actividades asociadas a los viajes.</li>
    </ul>

    <hr>