{% extends 'index.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/actividades/actividades.css' %}">
{% endblock %}

{% block header %}
{% endblock %}

{% block content %}
<div id="seccionActividades">
    <div class="contenedorTexto">
        <h1>Sección de Actividades</h1>
        <p class="subtitulo">Bienvenido al panel de gestión de actividades relacionadas con los viajes.</p>
        
        <div class="descripcion">
            <p>¡Vive la aventura! Explora destinos increíbles, disfruta de actividades únicas y crea recuerdos inolvidables.</p>
            <p>¡Descubre nuestros viajes! Haz clic para ver la lista completa y elegir tu próxima experiencia.</p>
        </div>
        
        <div class="botonesActividades">
            <a href="{% url 'lista_actividades' %}" class="botonPrincipal">VER LISTA DE ACTIVIDADES</a>
            <a href="{% url 'Viajes' %}#divViajes" class="botonSecundario">IR A LA SECCIÓN DE VIAJES</a>
        </div>
    </div>
</div>
{% endblock %}