<h1>Detalle de la Actividad: {{ actividad.nombre }}</h1>

{% if actividad.fotoActividad %}
  <img src="{{actividad.fotoActividad}}" alt="Imagen de {{ actividad.nombre }}" style="max-width: 400px;">
{% endif %}

<p><strong>Descripción:</strong> {{ actividad.descripcion|default:"(Sin descripción)" }}</p>
{% if actividad.horario %}
   <p><strong>Horario:</strong> {{ actividad.horario }}</p>
{% endif %}

<h2>Viajes relacionados</h2>
{% if actividad.viaje.all %}
   <ul>
      {% for v in actividad.viaje.all %}
            <li>
               <strong>Destino:</strong> {{ v.destino }}<br>
               <strong>Fechas:</strong> {{ v.fecha_inicio }} - {{ v.fecha_fin }}<br>
               <strong>Precio:</strong> {{ v.precio }} €<br>

               <h4>Usuarios responsables:</h4>
               <ul>
                  {% for u in v.usuario.all %}
                        <li>{{ u.nombre }} ({{ u.email }})</li>
                  {% endfor %}
               </ul>

               <a href="{% url 'detalle_viaje' v.id %}">Ver detalle del viaje</a>
            </li>
            <hr>
      {% endfor %}
   </ul>
{% else %}
   <p>Esta actividad no está asociada a ningún viaje.</p>
{% endif %}

<a href="{% url 'lista_actividades' %}">Volver a la lista de actividades</a><br>
<a href="{% url 'Actividades' %}">Volver al inicio de actividades</a>
