.container h2 {
    text-align: center;
    font-size: 38px;
    font-weight: 700;
    color: #2c3e50;
    margin-bottom: 30px;
    letter-spacing: 1px;
    border-bottom: 3px solid #82b440;
    display: inline-block;
    padding-bottom: 10px;
    width: 100%;
}

form p {
    margin-bottom: 20px;
    font-size: 16px;
    line-height: 1.5;
}

form label {
    display: block;
    font-weight: 600;
    color: #2c3e50;
    margin-bottom: 8px;
    font-size: 18px;
}

form input[type="text"],
form input[type="email"],
form input[type="number"],
form input[type="date"],
form textarea,
form select {
    width: 100%;
    padding: 12px 15px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
    color: #555;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}


form button[type="submit"] {
    display: block;
    width: 100%;
    padding: 15px;
    margin-top: 30px;
    font-size: 20px;
    font-weight: 700;
    color: white;
    background-color: #82b440;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

form button[type="submit"]:hover {
    background-color: #6a9534;
}

